<div style="width:100%">
<img style="width:100%;max-width:1200px" src="source-path"/>
<br>
<p>
<h3>Kính chào quý khách hàng,</h3>
Quý khách hàng đã yêu cầu mã OTP để đăng nhập vào ứng dụng SatraLoyaltyCard- sản phẩm của Satra. Đây là mã OTP của quý khách: <b>--OTP--</b>
</p>
<p>
Quý khách có thể xem thông tin cá nhân, thông tin tích lũy điểm, các chương trình khuyến mãi và nhiều tiện ích khác trong ứng dụng SatraLoyaltyCard
</p>
<br>
<p>
Chân thành cảm ơn,
</p>
<p>Bộ phận chăm sóc khác hàng Satra</p>
</div>
